fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    padding: 0 10px;
    font-size: 1.2em;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;  
    border: 1px solid #ccc;
}
